/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-logo{
    width: 170%; 
}

.img-responsive{
    width: 320px;
    height: 430px;
}

.img-responsive-food{
    width: 130%;
}

.img-curve{
    border-radius: 15px;
}

/* css for img*/
.image {
    position: relative;
    width: 400px;
}


.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 430px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: rgba(255,71,87, 0.3);
    
    border-radius: 15px;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

/* */


.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}

h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}

/* CSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    font-size: 18px;
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food Search Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-box{
    display: inline-block;
  width: 460px;
  height: 200px;
  margin: 3%;
  padding: 20px;
  border-radius: 15px ;    
  background-color: white; 
}

.food-menu-img{
    width: 22%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        /* width: 80%; */
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

/*
    .food-menu-box{
        width: 100%;
        padding: 16%;
        margin-bottom: 5%;
    }
*/

    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}


/*login and shopping cart css*/
.container_user{
    padding:0 20px;
    margin:0 auto;
    max-width: 1200px;
    padding-bottom: 70px;
 }
 
 .container_user .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color:var(--black);
 }
 
 .container_user .user-profile{
    padding:20px;
    text-align: center;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin:20px auto;
    max-width: 500px;
 }
 
 .container_user .user-profile p{
    margin-bottom: 10px;
    font-size: 25px;
    color:var(--black);
 }

.container_user .user-profile p span{
    color:var(--red);
 }
 
 .container_user .user-profile .flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    align-items: flex-end;
 }

 /*CSS for Login*/

.container_l {
    position: relative;
    z-index: 1;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 30px;
  }

.container_l_t {
    width: 1000px;
} 

.container_l .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container_l .login-email .input-group input {
    
    border: 2px solid #ececec;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 5px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container_l .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: rgb(219, 219, 219);
}

.container_l .login-email .input-group .btn_l {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background-color: #ff6b81;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}


.container_l .login-email .input-group .btn_l:hover {
    transform: translateY(-5px);
    background: #ff6b81;
}

/* cart */

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    background-color: #efefef;
    padding: 1%;
}

/*br tag*/
.br {
    margin-bottom: 25em
}

/* for food scrollbar */
    .scroll {
        width: 280px;
        height: 60px;
        overflow: auto;
        text-align: justify;
      }
